extends layout


block content
  h1 #{title}
  br
  #hero.home
  .container
    .hero-content
      h1
        | I'm Jeyasuriyaa Jeyakumar
        span.typed
      p.typed-items(data-typed-person='Jeyasuriyaa Jeyakumar') Designer, Developer, Freelancer, Musician.
    .about
  p.p-heading
    | Im a Full Stack Developer Toronto based who loves clean, simple & unique work. I also enjoying making music and beats!!.
  br
  include partials/footer.pug
     
